
.header,
.footer {
    position: relative !important;
    @include column(12);
    &__wrapper {
        @include flex();
        @include space-between();
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.header {
    @include header();
}
