@mixin animateWidth($duration: 4s) {
    @keyframes grow {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    animation: grow $duration $cubic-bezier forwards;
    animation-iteration-count: infinite;
}

.progress-bar {
    @include progress-bar();
    &__bar {
        @include animateWidth();
    }
}


