.typography {
    padding: 10px 0;
    &--heading {
        @include heading();
    }
    &--subheading {
        @include subheading();
    }
    &--title {
        @include title();
        margin-top: 46px;
        margin-bottom: 20px;
    }
    &--subtitle {
        @include subtitle();
    }
    &--body {
        @include body();
    }
    &--button-text {
        @include button-text();
        text-align: left;
    }
    &--anchor {
        @include anchor();
    }
}


a {
    @include anchor();
}

h1 {
    @include title();
    padding: 15px 0;
}

h2 {
    @include title();
    color: color('primary');
    padding: 10px 0;
}

.subheading {
    @include subheading();
    padding: 8px 0;
    margin-bottom: 8px;

    &--divider {
        border-bottom: 2px solid color('primary', 'divider');
    }
}
