.typography {
    padding: 10px 0;
    &--display {
        @include display();
    }
    &--headline {
        @include headline();
    }
    &--title {
        @include title();
        margin-top: 46px;
        margin-bottom: 20px;
    }
    &--subheader {
        @include subheader();
    }
    &--subtitle {
        @include subtitle();
    }
    &--body {
        @include body();
    }
    &--caption {
        @include caption();
        text-align: left;
    }
    &--small {
        @include small();
    }
    &--anchor {
        @include anchor();
    }
}

a {
    @include anchor();
}

h1 {
    @include title();
    padding: 15px 0;
}

h2 {
    @include title();
    color: color('primary');
    padding: 10px 0;
}

.subheading {
    @include subheader();
    padding: 8px 0;
    margin-bottom: 8px;

    &--divider {
        border-bottom: 2px solid color('primary', 'divider');
    }
}
