---
layout: default
---

<main class="main">

  {% for category in site.categories %}
    <div class="row row--category">
      <h3>{{ category | first }}</h3>
    </div>

    {% for posts in category reversed %}
      {% for post in posts reversed %}
        {% if post.title %}
        <div class="row">
          <div class="description">
            <h5>{{ post.title }}</h5>

            <p>{{ post.description }}

            <br><br>
          </p>

          </div>
          <div class="example">
            {{ post.content }}
          </div>

          <label for="source">Markup</label>
          <pre class="prettyprint linenums lang-html" lang="html" name="source">
            <code>
            {{ post.content | xml_escape | texttify }}
            </code>
          </pre>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</main>
