  <header id="header" class="header">
    <ul class="dropdown__wrapper">
    <li class="dropdown__item">Logout</li>
    </ul>
    <div class="header__wrapper">
      <div class="header__wrapper__logo"></div>
      <div class="header__wrapper__breadcrumb">
        <div class="header__wrapper__breadcrumb__step">First step:</div>
        <div class="header__wrapper__breadcrumb__description">Describe your property</div>
      </div>
      <button class="button button--align-right">Exit</button>
    </div>
  </header>
