@mixin label() {
  display: block;
  @include body-2();
  font-weight: 700;

  &.validation {
    @include caption();
    font-weight: 300 !important;

    &--success {
      color: color('success', 'text');
    }
    &--error {
      color: color('error', 'text');
    }
    &--warning {
      color: color('warning', 'text');
    }
  }
}

@mixin input() {
  display: inline-block;
  height: 32px;
  padding: 0 ($gutter / 2);
  border: 2px solid $input-border-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    border: 2px solid $input-border-color-hover;
    outline: 0;
  }

  &.validation {
    &--success {
      border-color: color('success', 'primary');
    }
    &--error {
      border-color: color('error', 'primary');
    }
    &--warning {
      border-color: color('warning', 'primary');
    }
  }

  &:disabled,
  &:disabled:hover {
    background-color: color('gray', 'disabled_input');
    border-color: $input-border-color;
    color: $input-border-color;
    cursor: not-allowed;
  }

  & + .tooltip {
    display: inline-block;
  }
}

label,
input {
  margin: ($gutter / 2) 0;
}

input {
  @include input();
}

label {
  @include label();
}
