@mixin panel() {
  @include padding();
  &__header {
    @include column(12);
    background-color: color('primary', 'medium');

    &__title {
      padding: $gutter / 2 $gutter;
      color: color('primary', 'contrast');
    }
  }

  &__content {
    @include padding();
    background-color: #fff;
  }
}
