$primary-font-family: #{"museo-sans-rounded","RobotoDraft","Roboto",sans-serif};
$main-font-size: 16px;

body {
  font-family: $primary-font-family;
  font-size: $main-font-size;
  color: color('text', 'primary');
  text-rendering: optimizeLegibility;
}

@mixin display-4() {
  font-size: 112px;
  font-weight: 100;
  margin-bottom: $gutter;
}
@mixin display-3() {
  font-size: 56px;
  font-weight: 300;
  margin-bottom: $gutter;
}
@mixin display-2() {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 48px;
}
@mixin display-1() {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 40px;
}
@mixin headline() {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}
@mixin title() {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: $gutter;
}
@mixin subheading() {
  font-size: 15px;
  font-weight: 300;

  @include breakpoint(medium) {
    font-size: 15px;
  }
}
@mixin body-2() {
  font-size: 13px;
  font-weight: 500;

  @include breakpoint(medium) {
    font-size: 14px;
  }
}
@mixin body-1() {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;

  @include breakpoint(medium) {
    font-size: 14px;
  }
}
@mixin caption() {
  font-size: 12px;
  font-weight: 300;
}
@mixin button-text() {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
@mixin link() {
  font-size: inherit;
  font-weight: inherit;
  color: color('primary');
  text-decoration: none;
  will-change: color;
  transition: color $animation-duration $cubic-bezier;

  @include backface-hack();
  @include body-1();

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: color('primary', 'medium');
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  display: block;
  margin-top: 0;
}

h1 {
  @include display-4();
}

h2 {
  @include display-3();
}

h3 {
  @include display-2();
}

h4 {
  @include display-1();
}

h5 {
  @include headline();
}

h6 {
  @include title();
}

p {
  @include body-1();
  margin-bottom: 20px;
}

a {
  @include link();
}
