<!DOCTYPE html>
<html>

  {% include head.html %}

  <body onload="prettyPrint()">

    {% include header.html %}

    {{ content }}

    <!--{% include footer.html %}-->

    <script src="http://zeptojs.com/zepto.min.js"></script>
    <script src="scripts/lazyload.js" async></script>
    <script src="scripts/modal.js" async></script>
    <script src="scripts/toasts.js" async></script>
    <script src="scripts/dropdown.js" async></script>
    <script src="scripts/toggle.js" async></script>
    <script src="scripts/prettify.js" async></script>
  </body>

</html>
