*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a,
img,
ul, li,
article,
header,
menu, section,
time, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
div, article, aside,
header, section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

.hidden,
[hidden],
[aria-hidden="true"] {
  display: none !important;
}

::-webkit-scrollbar { 
    display: none; 
}